<div id="notes"><br>
  <h1>Listing my Notes</h1>

    <% @notes.each do |note| %>
      <div class="note">
        <h2><%= link_to note.title, note %></h2>
        <%= sanitize(note.body[0,200]) %><br>
        <td><%= link_to 'Edit', edit_note_path(note), class: "btn btn-success", 
                                        data: { 'no-turbolink'=>true} %></td>
        <td><%= link_to 'Destroy', note, method: :delete, 
                                        class: "btn btn-danger" %></td><br><br>
      </div>
    <% end %>
</div>