<div id="show">
  <p>
    <strong>Title:</strong>
    <%= @note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= sanitize(@note.body) %>
  </p>

  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', notes_path %>
</div>