<div id="cv">
  <div class="img"><%= image_tag("profile.jpg") %></div>
  <div class="info"><br>
    <h2>Ruby on Rails Developer</h2>
    <table>
      <tr>
        <th>Name:</th>
        <th>Sasha Stipanenko</th>
      </tr>
      <tr>
        <th>Age:</th>
        <th>11th April 1990 year</th>
      </tr>
      <tr>
        <th>City:</th>
        <th>Donetsk</th>
      </tr>
      <tr>
        <th>Email:</th>
        <th>alex.stipanenko@gmail.com</th>
      </tr>
      <tr>
        <th>Phone:</th>
        <th>(050) 789-58-95</th>
      </tr>
      <tr>
        <th>GitHub profile:</th>
        <th>https://github.com/satoshy</th>
      </tr>
    </table>
  </div>

  <div class="education">
    <h3>Education:</h3>
    <p>Donetsk National University</p>
    <p>Physics-Technology Faculty</p>
    <p>M.S. Physics (2007 - 2012)</p>
  </div>

  <div class="skills">
    <h3>Summary of skills:</h3>
    <p>&bull; Ruby</p>
    <p>&bull; Ruby on Rails</p>
    <p>&bull; HTML, CSS, JS</p>
    <p>&bull; Databases: MySQL, PostgreSQL</p>
  </div>

  <div class="foreign-lang">
    <h3>Languages:</h3>
    English (Pre-intermediate), Russian (Intermediate), Ukrainian (Intermediate);
  </div>

  <div class="experience">
    <h3>Profesional experience:</h3>
    <p>
      At the moment I am studying the following books:
      "Programming Ruby (Dave Thomas)" and "Practical Object-Oriented Design in Ruby (Sandi Metz)". In GitHub profile you can see my projects on Ruby on Rails (simple blog and ecommerce shop).
    </p>
  </div><br>
</div>
